#chinaMap canvas {
    width: 100% !important;
    height: 100% !important;
}

a {
    text-decoration: none;
    color: black;
}

.MuiIconButton-root:hover {
    background: #fd504d99 !important;
    color: "white";
}

body {
    background: #f9f9f9 !important;
}
